extends layout

block content
  h1= title

  p My resume comes in multiple formats:

  ul
    each format in formats
      li: a(href=format.href)= format.name

  p And soon...

  ul
    each format in futureFormats
      li= format.name
