extends layout

block content

  div.main
    h1= title

    div
      div(class="inline float-left")
        p My resume is available as:
        ul
          each format, name in formats
            - var formatUrl = "/resume/" + name
            li: a(href=formatUrl)= format.name

      div.inline
        p And soon...

        ul
          each format in futureFormats
            li= format.name
