body {
  font-family: "FreeSans", "Liberation Sans", Arial, sans-serif;
  font-size:   8pt;
  margin:      0.3in;
}

body.html {
  font-size: 90%;
}

h1, h2 {
  margin: 0;
}

h3 {
  font-style: italic;
  margin:     0;
}

/* Remove default table styling */
table {
  border-collapse: collapse;
  border-spacing:  0;
  width:           100%;
  margin:          0;
  padding:         0;
}

td {
  border:  none;
  padding: 0;
  margin:  0;
}

/* Header table - 3 columns */
table#header {
  width:         100%;
  margin-bottom: 1em;
  margin-top:    0.5em;
}

table#header td {
  vertical-align: top;
  padding:        0.2em;
}

table#header td.header-contact {
  width:     20%;
  font-size: 10pt;
}

table#header td.header-contact .name {
  font-weight: bold;
  font-size:   12pt;
  margin-bottom: 0.2em;
}

table#header td.header-contact .email,
table#header td.header-contact .phone {
  font-size: 9pt;
}

table#header td.header-intro {
  width:       40%;
  font-size:   9pt;
  line-height: 1.3;
  padding-left: 1em;
  padding-right: 1em;
}

table#header td.header-keywords {
  width:      40%;
  text-align: center;
}

/* Keywords table - more compact */
table#categories {
  margin-top:    0.2em;
  margin-bottom: 0.5em;
  margin-left:   auto;
  margin-right:  auto;  /* Center the table */
  width:         auto;
  font-size:     6pt;  /* Even smaller */
}

table#categories th {
  font-weight:    bold;
  font-style:     italic;
  padding:        0.03em 0.15em;
  text-align:     center;
  vertical-align: middle;
}

table#categories th[colspan] {
  font-size:   7pt;
  font-style:  italic;
  font-weight: normal;
}

.html table#categories th[colspan] {
  font-size: 90%;
}

table#categories th.category-name {
  font-size:   6pt;
  font-weight: bold;
}

table#categories td.keyword-item {
  padding:        0.02em 0.15em;
  text-align:     center;
  vertical-align: middle;
  font-size:      6pt;
}

/* Experience section - single table */
#experience {
  padding-top: 0.5em;
}

table#positions {
  margin-top: 0;
  width: 100%;
}

table#positions tr.position {
  margin-bottom: 1em;
}

table#positions td.timeline {
  width:          10%;
  vertical-align: top;
  padding-right:  0.5em;
  text-align:     center;
  font-size:      9pt;
}

table#positions td.timeline .dates {
  margin: 0;
}

table#positions td.timeline .dash {
  margin: 0;
  text-align: center;
}

table#positions td.job-header {
  width:          25%;
  vertical-align: top;
  padding-right:  0.5em;
  font-size:      9pt;
}

table#positions td.job-content {
  width:          65%;
  vertical-align: top;
  padding-bottom: 1em;
  font-size:      7pt;
}

.job-header .company {
  font-weight: bold;
  font-size:   10pt;
}

.job-header .group {
  font-size: 9pt;
}

.job-header .title {
  font-size: 9pt;
  font-style: italic;
}

.job-content .summary {
  margin-top:    0;
  margin-bottom: 0.3em;
  line-height:   1.2;
}

.job-content ul {
  margin:  0;
  padding: 0;
}

.job-content ul ul {
  padding-left:  0.5em;
  margin:        0;
  margin-bottom: 0.5em;
}

.job-content ul ul:last-child {
  margin-bottom: 0em;
}

.job-content li::before {
  content: "- "
}

.job-content li {
  list-style-type: none;
}

#footer {
  margin-top: 2em;
}
