body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.main {
}

div {
  margin-right: 2em;
}

.float-left {
  float: left;
}
.inline {
  display: inline-block;
}
