body {
  font-family:     "Arial", Verdana, sans-serif;
  font-size:       8pt;

  margin:          0.3in;

  /* These don't seem to work in PhantomJS */
  display:         flex;
  justify-content: center;
}

body.html {
  font-size: 90%;
}

body > div {
  max-width:   8.0in;
  max-height: 10.0in;
}

h1 {
  margin: 0;
}

#heading {
  margin-bottom: 1em;
  margin-top:    1em;
}

h3 {
  font-style: italic;
  margin: 0;
}

#contact {
  display: inline-block;
  width: 2.9in;
}

#keywords {
  display:    inline-block;
  margin-top: 0em;
  float:      right;
  text-align: center;
}

#keywords #categories {
  width:       4.3in;
  text-align:  right;
  margin-top:  1em;
  margin-left: 1em;
}

.docx #categories > .div {
  display: table-cell;
}

#categories > div {
  display: inline-block;
}

#categories .title {
  font-size:     10pt;
  font-weight:   bold;
  font-style:    italic;
  margin-bottom: 0.5em;
}

.html #categories .title {
  font-size: 111%;
}

.category {
  margin-right: 1em;
  vertical-align: top;
}

#experience {
  clear: both;
  padding-top: 1em;
}

#positions {
  margin-top: 0em;
}

.position {
  margin-top: 2em;
}

div.particulars {
  float: left;
  width: 23%;
}

.particulars .where {
  font-weight: bold;
}

.delivered {
  display: inline-block;
  width: 70%;
  margin-left: 0.5em;
}

.delivered ul {
  margin: 0;
  padding: 0;
}

.delivered ul ul {
  padding-left: 0.5em;
  margin: 0;
  margin-bottom: 0.5em;
}

.delivered ul ul:last-child {
  margin-bottom: 0em;
}

.delivered li::before {
  content: "- "
}

.delivered li {
  list-style-type: none;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0.5in;
}

#footer div:first-child {
  float: left;
}

#footer div:last-child {
}

.border {
  border: solid black 1px;
}

