body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 90%;
}

body > div {
  max-width: 8in;
  max-height: 10in;
}

h1 {
  margin: 0;
}

#heading {
  margin-bottom: 1em;
  margin-top:    1em;
}

h3 {
  font-style: italic;
  margin: 0;
}

#contact {
  display: inline-block;
}

#keywords {
  display: inline-block;
  margin-top: 1em;
  float: right;
  text-align: center;
}

#keywords #categories {
  text-align: right;
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
}

#categories div {
}

#categories .title {
  font-size: 111%;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
}

#keywords .category div {
  margin-right: 1em;
}

#experience {
  clear: both;
  padding-top: 1em;
}

#positions {
  margin-top: 2em;
  display: grid;
  grid: auto / 25% auto;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

.particulars .where {
  font-weight: bold;
}

.delivered {
}

.delivered ul {
  margin: 0;
  padding: 0;
}

.delivered ul ul {
  padding-left: 1.5em;
  margin: 0;
  margin-bottom: 0.5em;
}

.delivered ul ul:last-child {
  margin-bottom: 0em;
}

.delivered li:before {
  content: "- "
}

.delivered li {
  list-style-type: none;
}
